<div class="container">
  <div class="row">
  <div class="col-md-1"></div>
  <h3><%= @customer.name %>さんの会員情報編集</h3>
  </div>
  
  <div class="row">
    <div class="col-md-12">
    <%= form_with model: @customer,url: admin_customer_path(@customer.id) do |f| %>
      <table>
        <tr>
          <td>会員ID</td>
          <td><%= f.number_field :id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= f.text_field :last_name %><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= f.text_field :telephone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td><%= f.radio_button "is_active", true %>有効<%= f.radio_button "is_active", false %>退会</td>
        </tr>
      </table>
    <%= f.submit '変更を保存' %>
    <% end %>
    </div>
  </div>

