<div class="container" style="height: 500px">
  <div class="row">
    <div class="col-md-4">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "200x200" %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <table>
        <tr>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td>¥<%= @item.add_tax_price.to_s(:delimited) %>(税込)</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <%= form_with model: @cart_item,url: cart_items_path do |f| %>
    <div class="col-md-2 offset-md-7">
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.select :amount, [["個数選択",0],[1,1], [2,2], [3,3], [4,4], [5,5], [6,6], [7,7], [8,8], [9,9], [10,10]] %>
    </div>
    <div class="col-md-2">
      <%= f.submit 'カートに入れる' %>
    </div>
    <% end %>
  </div>
</div>